.top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #ccc;
    height: 56px;
    h2{
        margin: 10px;
    }
}